.calendar {
    scroll-margin-top: 5px;

    &__header {
        position: fixed;
        padding: 0 $side-padding;
        margin-top: 50px;
        display: flex;
        background-color: #fff;
        z-index: 2;
    }

    &__week-container {
        margin-top: 185px;
        display: flex;
    }

    &__week {
        display: flex;
    }

    &__day {
        width: $col-width;

        &:last-child {
            .calendar {
                &__time-slot {
                    border-right: none;
                }
            }
        }
    }

    &__time-slot {
        height: $row-height;
        border: 1px solid lightgrey;
        position: relative;

        &:first-child {
            border-top: none;
        }
    }
}
